Hello {{or .GivenName .UID}},

An account has been created for you.

  Login:              {{.UID}}
  Temporary password: {{.Password}}
  Web UI:             {{.URL}}

You will be asked to choose a new password when you first log in.
